  p
  {
    margin-bottom: 8px;
    text-align: center;
  }
  .select
  {
    display: flex;
    justify-content: center;
  }
  #container {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    margin: 8px 0px;
  }
  
  .row {
    display: flex;
    border: solid;
    border-width: 1px;
    flex: auto;
    flex-direction: row;
   }

  .col {
    border: solid;
    border-width: 0px 1px;
    flex: auto;
  }

  